<h3>Please Verify your email address at Beestock</h3>

Hi {{ name }}!

<br/><br/>

You recently used  {{ emailAddress }}  email to create an account at Beestock.
<br/>
We need to verify your email in order to activate your account.

<br/>
<br/>
<br/>
Please use the following code to verify your account:  <b> {{ verificationCode }} </b>
<br/>
<br/>
or directly follow this link to  <a href="{{ verificationUrl }}">activate your account</a>.

<br/>

{% include '@UserService/Emails/email.signature.html.twig' %}

