<h3>Here is how to activate your Beestock account</h3>

Hi {{ name }}!

<br/><br/>

You recently used  {{ emailAddress }}  email to create an account at Beestock.

<br/>
<br/>
We need to verify your email in order to send you future notifications .
<br/>
<br/>
Please use the following code to activate your account:  <b>{{ verificationCode }}</b>
<br/>
<br/>
or click the following link to  <b><a href="{{ verificationUrl }}">activate your account</a></b> or copy the url to your browser.
<br/>
<br/>
Both activation link and activation code are only valid within 24 hours of creating your account.
<br/>
<br/>

{% include '@UserService/Emails/email.signature.html.twig' %}

