<!DOCTYPE html>
<html>
<head>
    <title>test click</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>

<button id="buttonClick" >Click me</button>


<script type="text/javascript">

    $('#buttonClick').click(function(){
        $.ajax({
            headers : {
                'Accept' : 'application/json',
                'Access-Control-Request-Method':'PATCH',
                'Content-Type' : 'application/x-www-form-urlencoded',
                'Origin' : 'localhost'
            },
            method: "PATCH",
            url: "http://beestock.com/api/user-service/changeRequest/683dc60d-40d4-4299-bd1f-275416cfc89b/activate-account",
            data: {
                code : "5c74p6"
            }
        })
            .done(function( res ) {
                console.log(res);
            });
    })

</script>
</body>
</html>
