<!DOCTYPE html>
<html>
<body>

<form action="https://beestock-1497116494-e23335d0-b8c0-4da1-afb8-4b1fe58f1555.s3-us-west-2.amazonaws.com" method="POST" enctype="multipart/form-data">
    Select image to upload:



    <input type="input"  name="key" value="uploads/${filename}" /><br />
    <input type="hidden" name="acl" value="public-read" /><br />
    <input type="hidden" name="X-Amz-Credential" value="AKIAJUDUQ4IYJWPQXZ7A/20170610/us-west-2/s3/aws4_request"><br />
    <input type="text" name="X-Amz-Algorithm"  value="AWS4-HMAC-SHA256"><br />
    <input type="text"   name="X-Amz-Date" value="20170610T210456Z"><br />

    Tags for File:
    <input type="hidden" name="Policy" value="eyJleHBpcmF0aW9uIjoiMjAxNy0wNi0xMFQyMzowNDo1NloiLCJjb25kaXRpb25zIjpbeyJhY2wiOiJwdWJsaWMtcmVhZCJ9LHsiYnVja2V0IjoiYmVlc3RvY2stMTQ5NzExNjQ5NC1lMjMzMzVkMC1iOGMwLTRkYTEtYWZiOC00YjFmZTU4ZjE1NTUifSxbInN0YXJ0cy13aXRoIiwiJGtleSIsInVwbG9hZHNcLyJdLHsiWC1BbXotRGF0ZSI6IjIwMTcwNjEwVDIxMDQ1NloifSx7IlgtQW16LUNyZWRlbnRpYWwiOiJBS0lBSlVEVVE0SVlKV1BRWFo3QVwvMjAxNzA2MTBcL3VzLXdlc3QtMlwvczNcL2F3czRfcmVxdWVzdCJ9LHsiWC1BbXotQWxnb3JpdGhtIjoiQVdTNC1ITUFDLVNIQTI1NiJ9XX0="><br />
    <input type="hidden" name="X-Amz-Signature" value="e541af982b7fd777c95fac379294a4161614b262b4b2cd3b50f3e00487cf4d73"><br />
    File:
    <input type="file"   name="file" /> <br />
    <!-- The elements after this will be ignored -->
    <input type="submit" name="submit" value="Upload to Amazon S3" />

</form>

</body>
</html>
