<!DOCTYPE html>
<html>
<body>

<form action="https://beestock-users-uploads.s3-us-west-2.amazonaws.com" method="POST" enctype="multipart/form-data">
    Select image to upload:



    <input type="input"  name="key" value="cd6d38d0-eefd-4bb6-952b-3efe4679eb85/1506209186_${filename}" /><br />
    <input type="hidden" name="acl" value="public-read" /><br />
    <input type="hidden" name="X-Amz-Credential" value="AKIAI435SNOPSVJNU6MA/20170923/us-west-2/s3/aws4_request"><br />
    <input type="text" name="X-Amz-Algorithm"  value="AWS4-HMAC-SHA256"><br />
    <input type="text"   name="X-Amz-Date" value="20170923T232336Z"><br />

    Tags for File:
    <input type="hidden" name="Policy" value="eyJleHBpcmF0aW9uIjoiMjAxNy0wOS0yNFQwMToyMzozNloiLCJjb25kaXRpb25zIjpbeyJhY2wiOiJwdWJsaWMtcmVhZCJ9LHsiYnVja2V0IjoiYmVlc3RvY2stdXNlcnMtdXBsb2FkcyJ9LFsic3RhcnRzLXdpdGgiLCIka2V5IiwiY2Q2ZDM4ZDAtZWVmZC00YmI2LTk1MmItM2VmZTQ2NzllYjg1XC8iXSx7IlgtQW16LURhdGUiOiIyMDE3MDkyM1QyMzIzMzZaIn0seyJYLUFtei1DcmVkZW50aWFsIjoiQUtJQUk0MzVTTk9QU1ZKTlU2TUFcLzIwMTcwOTIzXC91cy13ZXN0LTJcL3MzXC9hd3M0X3JlcXVlc3QifSx7IlgtQW16LUFsZ29yaXRobSI6IkFXUzQtSE1BQy1TSEEyNTYifV19"><br />
    <input type="hidden" name="X-Amz-Signature" value="8d9694496e75060abc272dc69bebad4a27ef6f0af924da843ca52fd8205eee41"><br />
    File:
    <input type="file"   name="file" /> <br />
    <!-- The elements after this will be ignored -->
    <input type="submit" name="submit" value="Upload to Amazon S3" />

</form>

</body>
</html>
