
/* packages page */
.package{
    background:#eee;
    padding:1.5rem 1rem;
}
.package .details{
    font-size:1.25rem;
}
.package .title{
    font-size:2rem;
}
.package {
    text-align: center;
    margin-bottom:15px;
}
.package .btn {
    padding: .5rem 1.5rem;
    font-size: 1.125rem;
}
.package .details{
    margin: 2rem 0;
    padding: 1rem;
    background: #fff;
    border-radius: .250rem;
    -moz-border-radius: .250rem;
    -webkit-border-radius: .250rem;
    text-align: left;
}

/* packages responsive */
@media(min-width:476px) and (max-width:992px){
    .package .details{
        margin: 2rem 0 ;
        padding: .5rem ;
    }
    .jumbotron{
        padding: 2rem 1rem;
    } 
} 
@media(max-width:476px) { 
    .ask-login h2{
        font-size:1.125rem;
    }
}