html{
    font-size:16px;
}
@media(min-width:476px) and (max-width:1200px){
    html{
        font-size:14px;
    }
}
.header, .footer {
    padding-right: 1rem;
    padding-left: 1rem;
}
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.spacer{
    margin-top: 30px;
}
.small-spacer{
    margin-top: 10px;
}
/* Custom page header */
#main_menu, #header-menu{
    margin-bottom:0;
}
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}
.search-form .form-control{
    width:auto;
}
.brand{
    padding: .4rem 0;
}
.search-form{
    margin-top:7.5px;
}
.search-form input ,.search-form  .form-group{
    display:inline-block;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}



/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.container-narrow > hr {
    margin: 2rem 0;
}

/* footer */
.footer{
    margin-top:50px;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }
    /* Remove the bottom border on the package for visual effect */
    .package {
        border-bottom: 0;
    }
}

@media(max-width:476px){
    #main_menu .navbar-toggler{
        position: absolute;
        margin-top: -50px;
    }
    .main-menu-wrapper{
        padding:0 ;
    }
}
