html{
    font-size:16px;
}
a {
    color:#f7a333;
    cursor:pointer;
    text-decoration:none;
}
a:focus, a:hover{
    color:#cf7e14;
    cursor:pointer;
    text-decoration:none;
}
@media(min-width:476px) and (max-width:1200px){
    html{
        font-size:14px;
    }
}
.header, .footer {
    padding-right: 1rem;
    padding-left: 1rem;
}
body {
    padding-top: 0;
}
.spacer{
    margin-top: 30px;
}
.small-spacer{
    margin-top: 10px;
}
.text-warning{
    color:#f7a333;
}
/* Custom page header */
.header_menu , #header-menu{
    margin-bottom:0;
}
.header {
    /* padding-bottom: 1rem; */
    /* border-bottom: .05rem solid #e5e5e5; */
}
.search-form .form-control{
    width:auto;
}
.brand{
    padding: .4rem 0;
}
.search-form{
    margin-top:7.5px;
}
.search-form input ,.search-form  .form-group{
    display:inline-block;
}
.header .nav{
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover{
    background-color:transparent !important;
}
.header .nav .open>a, .nav .open>a:focus,.header .nav .open>a:hover{
    color:#f8a434 !important;
}
.dropdown-menu{
    background:#363636;
    color:#fff;
}
.dropdown-menu li a.dropdown-item{
    color:#fff;
}
.dropdown-menu li:hover a.dropdown-item{
    background:#f8a434;
    color:#fff;
}
.dropdown-menu{
    padding:0;
    border:0;
}
/*design*/
html,body{
    font-family:'helveticaneuebold';
}
header{
    background:#363636;
    /* padding:1vh; */
}
.header_menu .nav>li>a:focus,.header_menu  .nav>li>a:hover{
    background:transparent;
    color:#f7a333;
}
.header_menu a{
    color:#fff;
    font-family:'helveticaneuebold';
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}
.header .logo{
    float:left;
    margin-right:30px;
}
.header h4{
    color:#fff;
    font:.85rem/40px tahoma;
    float: left;
}
.header .header_menu a{
    padding: 4px 10px;
    font:.85rem/40px tahoma;
    height: 52px;
}
#header-menu{
    padding:0;
}

/* footer */
footer{
    background:#363636;
}
.footer{
    margin-top: 3rem;
    color: #fff;
    font-family:tahoma;
}
.footer p{
    line-height:50px;
    padding:0;
    margin:0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }
    /* Space out the masthead */
    .header {
        /* margin-bottom: 2rem; */
    }
    /* Remove the bottom border on the package for visual effect */
    .package {
        border-bottom: 0;
    }
}

@media(max-width:476px){
    .header_menu .navbar-toggler{
        position: absolute;
        margin-top: -50px;
    }
    .main-menu-wrapper{
        padding:0 ;
    }
    #header{
        min-height:80px;
    }
    .container-fluid{
        padding:0;
    }
    #header .navbar-toggle{
        margin-top:20px;
        margin-right: 0;
    }
    .navbar-toggle span{
        background-color:#fff;
    }
    .header_menu .navbar-nav li>a{
        display:block;
        padding: 0 30px;
        transition:all 1s;
    }
    .panel{
        margin-bottom:0;
    }
}
